doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title {:options.title} {:options.title ? '-'} Adopt a Love Story
    link(rel="stylesheet", type="text/css", href="assets://css/style.css")
    link(rel="stylesheet", type="text/css", href="assets://css/main.css")
    link(rel="stylesheet", type="text/css", href="assets://css/stackicons-social-minimal.css")
    link(rel="stylesheet", href="assets://css/layerslider.css", type="text/css")

    // Slider CSS
    script(src="//use.typekit.net/laf1bvf.js")
    script(:ignore="true").
      try{Typekit.load();}catch(e){}
    // Rainmaker
    script(src="https://assets.donate.io/static/widget/embed.js", type="text/javascript", charset="utf-8")
    script(:ignore="true").
      var __rmSettings = {organization:'aals'}
    | <:jolt placeholder="head" />
  body
    theme:embed(file="includes/nav")
    | <:jolt placeholder="content" />
    theme:embed(file="includes/footer")
    script(src="assets://js/layerslider.transitions.js", type="text/javascript")
    script(src="https://code.jquery.com/jquery-1.11.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="assets://js/greensock.js", type="text/javascript")
    script(type="text/javascript").
      var facebookAppId = '{:settings.facebook-app-id}';
      var $memberId = {:member.id ? :member.id : 'null'};
      var facebookChannelFile = '//{:e.url.domain()}/act/session/facebook_channel_file';
    script(src="assets://js/build.js", type="text/javascript")
    | <:jolt placeholder="append" />
    #fb-root