theme:template(name="default", title="About")

  content(:load=":api(3.0).content(site.about) as about")
    // Top
    .col-md-12.about-top
      .container
        .caption.center.banner-caption
          h2 {about.content.header}
          h3.banner-caption
            em {about.content.subtext}
    // Content
    .col-md-12.contact
      .container
        .col-md-8.gap-vert
          | {about.content.body}
          h4.about-cta Will you join the story?
        .col-md-3.col-md-offset-1.center
          h5 Connect:
          ul.social-media.inline-social
            li
              a(href="{:settings.facebook-page}")
                i.fa.fa-facebook
            li
              a(href="https://twitter.com/{:settings.social-twitter}")
                i.fa.fa-twitter
            li
              a(href="http://instagram.com/{:settings.social-instagram}")
                i.fa.fa-instagram
            li
              a(href="{:settings.social-youtube}")
                i.fa.fa-youtube-play
          h5 Contact:
          p
            a(href="mailto:info@adoptalovestory.com", target="_top") info@adoptalovestory.com
          address
            p {:settings.organization-address-street}
            p {:settings.organization-address-street2}
            p {:settings.organization-address-city}, {:settings.organization-address-state} {:settings.organization-address-zipcode}  
            p {:settings.organization-phone}
    // Separates Content and Footer
    .container.center.connect