theme:template(name="default", title="Get In Touch")

  content(:load=":api(3.0).content(site.contact) as contact")
    //@IF :get.success
    .col-md-12.contact-top
      .container
        .caption.center
          h2(style="color: #fff;") {contact.content.thankyouhead}
          h4: em {contact.content.thankyousub}
    //@ELSE
    .col-md-12.contact-top
      .container
        .caption.center
          h2(style="color:#fff") {contact.content.header}
          h3.banner-caption
            em {contact.content.subtext}

    //@ENDIF
    // Top white
    .col-md-12.contact-white.spread-section
      .container
        .caption.center
          h3 Get in touch:
          a(href="mailto:info@adoptalovestory.com", target="_top") info@adoptalovestory.com
          address
            p {:settings.organization-address-street}
            p {:settings.organization-address-street2}
            p {:settings.organization-address-city}, {:settings.organization-address-state} {:settings.organization-address-zipcode}  
    // Connect with us
    .section.container.connect.center.contact-social
      h3.push-down
        | CONNECT WITH US
      ul.social-media(style="padding: 0; text-align: center;")
        li
          a(href="{:settings.facebook-page}")
            i.fa.fa-facebook
        li
          a(href="https://twitter.com/{:settings.social-twitter}")
            i.fa.fa-twitter
        li
          a(href="http://instagram.com/{:settings.social-instagram}")
            i.fa.fa-instagram
        li
          a(href="{:settings.social-youtube}")
            i.fa.fa-youtube-play
    //@IF !:get.success
    .container.contact-white
      .col-md-10.col-md-offset-1
        .caption.center {contact.content.body}
    // Form
    .container.center.push-down
      .form.col-md-8.col-md-offset-2
        .container-fluid
          form(action="/api/3.0/form-completions",role="form",id="form", style="padding: 2.0em;", method="post")
            | <:module slug="messages-display" namespace="signup-form" />
            | <input type="hidden" name="--namespace" value="signup-form" />
            | <input type="hidden" name="--failure" value="/contact#form" />
            | <input type="hidden" name="--form" value="contact-form" />
            | <input type="hidden" name="--success" value="/contact?success=true" />

            .form-group
              input#input-name.form-control.contact-form(type="text",  name="name", placeholder="Your Name:")
            .form-group
              input#input-email.form-control.contact-form(type="email",name="email", placeholder="Your Email:")
            .form-group
              textarea.form-control.contact-form(rows="9",name="message", placeholder="Tell us a little about your story:")
            button.btn.btn-dark-grey.btn-lg(type="submit")  Submit

    //@ENDIF
    // Footer
    // Separates Content and Footer
    .container.center.connect