theme:template(name="default", :load=":api(3.0).projects(246) as project", title="The Macintosh Family")

  // make sure the campaign can be loaded
  require(:eval="project.id")
  not-found Sorry, the project you're looking for could not be found. 

  content
    // Top
    //@IF :get.success
    .col-md-12.contact-top
      .container
        .caption.center
          h2(style="color: #fff;") Thank you for your interest!
          h4: em We'll be in touch.
    //@ELSE
    .col-md-12.contact-top
      .container
        .caption.center
          h2(style="color: #fff;") Contact
          h4
            em Here&#8217;s where you say &#8220;what up&#8221;
    //@ENDIF
    // Top white
    .col-md-12.contact-white.spread-section
      .container
        .caption.center
          h3 Get in touch:
          a(href="mailto:info@aals.com", target="_top") info@aals.com
          address
            p {:settings.organization-address}

    // Connect with us
    .section.container.connect.center.contact-social
      h3.push-down
        | CONNECT WITH US
      ul.social-media(style="padding: 0; text-align: center;")
        li
          a(href="#")
            i.fa.fa-facebook
        li
          a(href="#")
            i.fa.fa-twitter
        li
          a(href="#")
            i.fa.fa-instagram
        li
          a(href="#")
            i.fa.fa-youtube-play
    //@IF !:get.success
    .container.contact-white
      .col-md-10.col-md-offset-1
        .caption.center
          h2 Are you an interested family?
          p When we understand a concept and allow it into our hearts, that is when lives are changed.  How we think about adoption could transform families and the lives of countless mothers and babies.  
          p What could occur if families of courage crossed the threshold of adoption with openness?  Perhaps there, in that place of vulnerability, love would arrive.
          p The kind of love that would certainly stretch, flex, and strain the muscles of our families.  But also the kind of love that always redeems, always blesses, and always gives birth to life.  
          p Let us start the adoption conversation.  
          p Thinking  of adoption in a new light, a place of living life together, writing stories that change us.  
          p If your family is considering adoption please contact us with the info below.
    // Form
    .container.center.push-down
      .form.col-md-8.col-md-offset-2
        .container-fluid
          form(action="/act/contact/create",role="form", style="padding: 2.0em;")
            | <:module slug="messages-display" namespace="signup-form" />
            | <input type="hidden" name="contact[tags]" value="members:contact-form" />
            | <input type="hidden" name="contact[opt-in]" value="0" />
            | <input type="hidden" name="--namespace" value="signup-form" />
            | <input type="hidden" name="--failure" value="/contact" />
            | <input type="hidden" name="--success" value="/contact?success=true" />

            .form-group
              input#input-name.form-control.contact-form(type="text",  name="contact[name]", placeholder="Your Name:")
            .form-group
              input#input-email.form-control.contact-form(type="email",name="contact[email]", placeholder="Your Email:")
            .form-group
              textarea.form-control.contact-form(rows="9",name="contact[bio]", placeholder="Tell us a little about your story:")
            button.btn.btn-dark-grey.btn-lg(type="submit")  Submit

    //@ENDIF
    // Footer
    // Separates Content and Footer
    .container.center.connect