theme:template(name="default", :load=":api(3.0).projects(246) as project", title="The Macintosh Family")

  // make sure the campaign can be loaded
  require(:eval="project.id")
  not-found Sorry, the project you're looking for could not be found. 

  content
    // Top
    .col-md-12.contact-top
      .container
        .caption.center
          h2(style="color: #fff;") Contact
          h4
            em Here&#8217;s where you say &#8220;what up&#8221;
    // Top white
    .col-md-12.contact-white.spread-section
      .container
        .caption.center
          h3 Get in touch:
          a(href="mailto:info@aals.com", target="_top") info@aals.com
          address
            p {:settings.organization-address}

    // Connect with us
    .section.container.connect.center.contact-social
      h3.push-down
        | CONNECT WITH US
      ul.social-media(style="padding: 0; text-align: center;")
        li
          a(href="#")
            i.fa.fa-facebook
        li
          a(href="#")
            i.fa.fa-twitter
        li
          a(href="#")
            i.fa.fa-instagram
        li
          a(href="#")
            i.fa.fa-youtube-play
    // 
    .container.contact-white
      .col-md-10.col-md-offset-1
        .caption.center
          h2 Are you an interested family?
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ipsum lacus, euismod eget nibh nec, imperdiet dictum dui. Aliquam et egestas urna. Vestibulum sit amet arcu ut velit luctus dignissim. Mauris auctor odio et neque hendrerit vehicula. Etiam facilisis tortor et leo luctus fringilla.
    // Form
    .container.center.push-down
      .form.col-md-8.col-md-offset-2
        .container-fluid
          form(role="form", style="padding: 2.0em;")
            .form-group
              input#input-name.form-control.contact-form(type="text", placeholder="Your Name:")
            .form-group
              input#input-email.form-control.contact-form(type="email", placeholder="Your Email:")
            .form-group
              textarea.form-control.contact-form(rows="9", placeholder="Tell us a little about your story:")
            button.btn.btn-dark-grey.btn-lg(type="submit")  Submit
    // Footer
    // Separates Content and Footer
    .container.center.connect