theme:template(name="default", :load=":api(3.0).projects(246) as project", title="The Macintosh Family")

  // make sure the campaign can be loaded
  require(:eval="project.id")
  not-found Sorry, the project you're looking for could not be found. 

  content
    //- Donate top
    .section.donate-top.section-height(style="background-image: url('{project.banners.first.version}');")
      .container
        .donate-section.center
          .donate-caption
            h1 {project.name}
            p(style="font-style: italic; padding: 0.3em;") {project.prop.subtitle}
          .progress-bar-wrapper
            .progress-bar
              .progress-meter(style="width: {project.progress.percent}; min-width: 2px;")
            .progress-text
              span.pull-left Progress: {project.progress.money|money(2)}
              span.pull-right Goal: {project.target|money(2)}
          p
            a.btn.btn-lg.btn-blue-translucent(href="#/my/donate?project={project.id}", role="button") Give to this Story
          p.p-text Share this story:
          ul.square-social
            li
              a(href="#" rel="facebook-share")
                i.fa.fa-facebook-square.white
            li
              a(href="#" rel="twitter-share")
                i.fa.fa-twitter.white
    //- Countdown section
    .section.container.countdown.margin-bottom
      .row.center
        .row(style="padding: 0.5em;")
        .col-md-4
          h3 {project.timestamp.until.countdown.day} days {project.timestamp.until.countdown.minute} minutes left
        .col-md-4.rl-border
          h3(data-toggle="modal", data-target="#moneyUsage")
            i.fa.fa-info-circle &nbsp; 
            | What's the money for?
        .col-md-4
          a.btn.btn-lg.btn-dark-grey.btn-margin(role="button", data-toggle="modal", data-target="#startFundraiser")
            i.fa.fa-plus &nbsp;
            | Start a fundraiser
    //- Video section
    .section.video.section-height
       //- <div class="embed-responsive embed-responsive-16by9 section-height">
       //-    <iframe class="embed-responsive-item" src=""></iframe>
       //-  </div> 
    //- Summary
    .section.container.border.summary
      .row
        .col-md-6
          .col-md-6.margin-top
            h3(data-toggle="modal", data-target="#projectUpdates")
              | Updates &nbsp;
              span.badge {project.posts.length}
          .col-md-6.margin-top
            h3
              | Givers &nbsp;
              span.badge {project.members.length}
        .col-md-6
          h3
            | Adoption Agency:
            a.btn.btn-clear-2(role="button")  SoCal Adoption
    div
      .family-caption.container
        aside.col-md-3.pull-right.center
          h5 Meet the family:
          img.round-image.img-responsive(src="{project.photos.first.version(300,300)}", alt="Family", data-toggle="modal", data-target="#familyModal")
          h5 Give to the story:
          a(href="#/my/donate?project={project.id}").btn.btn-lg.btn-blue(role="button") Give now
          h5 Share the story:
          ul.square-social
            li
              a(href="#" rel="facebook-share")
                i.fa.fa-facebook-square.black
            li
              a(href="#" rel="twitter-share")
                i.fa.fa-twitter.black
        article.col-md-8.static
          h2 Our story in our words
          p {project.summary}
          {project.description}
    //- Donate bottom
    .section.donate-top.section-height
      .container
        .donate-section.center
          .progress-bar-wrapper
            .progress-bar
              .progress-meter(style="width: {project.progress.percent}; min-width: 2px;")
            .progress-text
              span.pull-left Progress: {project.progress.money|money(2)}
              span.pull-right Goal: {project.target|money(2)}
          p
            a.btn.btn-lg.btn-blue-translucent(href="#/my/donate?project={project.id}", role="button") Give to this Story
          p.p-text Share this story:
          ul.square-social
            li
              a(href="#" rel="facebook-share")
                i.fa.fa-facebook-square
            li
              a(href="#" rel="twitter-share")
                i.fa.fa-twitter
    //- Family Modal
    #familyModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="familyModalLabel", aria-hidden="true")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            h3#familyModalLabel.modal-title Meet The Family
          .modal-body
            ul
              li(class="update",:load="project.content(1).slug(extra).relationships(family) as person", :iterate="self")
                .row
                  .col-md-4: img.round-image.img-responsive(src="{person.relationships(image,attachments).first.version(200,200)}")
                  .col-md-8
                    h6 {person.content.name}
                    div {person.content.bio}
    //- What Will The Money Be Used For?
    #moneyUsage.modal.fade(tabindex="-1", role="dialog", aria-labelledby="moneyUsage", aria-hidden="true")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            h3#moneyUsage.modal-title What will the money be used for:
          .modal-body
            div(style="margin-top:20px") {project.content(1).slug(extra).content.money}
    //- What Will The Money Be Used For?
    #projectUpdates.modal.fade(tabindex="-1", role="dialog", aria-labelledby="projectUpdates", aria-hidden="true")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            h3#projectUpdates.modal-title Project Updates:
          .modal-body
            //@IF project.posts.length == 0
            | No project updates yet.
            //@ELSE
            ul
              li(class="update", :load="project.posts.status(published) as update", :iterate="self")
                h6 {update.title}
                p {update.content}
            //@ENDIF
    //- Start A Fundraiser
    #startFundraiser.modal.fade(tabindex="-1", role="dialog", aria-labelledby="startFundraiser", aria-hidden="true")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            h3#startFundraiser.modal-title How To:
              br
              | Start A Fundraiser
          .modal-body
            p First, thank you! Your help making this Love Story possible is an investment in the future.
            h6 Step 1: Create an Account
            p Before you begin a fundraiser, you must first create an account.
            br
            h6 Step 2: Share the Project
            p Next you’ll need to visit the family’s project page and share the project to your friends using Facebook and Twitter. When you share you can customize your message.
            br
            h6 Step 3: Track Your Results
            p Finally, once you’ve shared the project with your network, you can login to your account and see how much you’ve raised from your project. 
            br
            a.btn.btn-primary(href="#/my/register") START YOUR FUNDRAISER NOW!
  append
    script(type="text/javascript").
      $('article.static img').each(function() {
        var alt = $(this).attr('alt'),
            src = $(this).attr('src');
        $(this).addClass('hide').parent('p').addClass('img-wrapper').append('<div class="img-bg" style="background-image: url(' + src + ');"></div><h3>' + alt + '</h3>');
      });