theme:template(name="default", :load=":api(3.0).projects(246) as project", title="Welcome")
  //- TODO: Address dissappeared from the footer
  // make sure the campaign can be loaded
  require(:eval="project.id")
  not-found Sorry, the project you're looking for could not be found. 

  content(:load=":api(3.0).content(site.home) as home")
    // Begin Main Slider
    .row: .col-md-12.engage-top(style="background-image:url({home.relationships(image,attachments).first.version});height:auto;padding-bottom:100px")
      .container
        .caption.center
          h2(style="font-size:32px;font-weight:bold").banner-caption {home.content.header}
          h4.home-slide {home.content.subtext}
          p(style="margin-top:30px")
            a.ls-l.btn.btn-lg.btn-transparent(href="{home.content.action.href}")
              | {home.content.action.text} &nbsp;
              i.fa.fa-video-camera
    //- #layerslider(style="width: 100%; height: 500px;")
      // Slide 1
      .ls-slide
        // slide background Image
        img.ls-bg(src="{home.relationships(image,attachments).first.version}", alt="Slide background")
        h2.ls-l(style="top: 50%; left: 50%; text-align: center; color: #fff;") {home.content.header}
        h4.ls-l(style="top: 65%; left: 50%; text-align: center; color: #fff;")
          em {home.content.subtext} 
        p
          a.ls-l.btn.btn-lg.btn-transparent.fixedBtn(href="{home.content.action.href}",style="display:block;height:31px;width:230px;margin:360px auto;position:initial !important;")
            | {home.content.action.text} &nbsp;
            i.fa.fa-video-camera
    // About Text
    .jumbotron.container.center.border
      p {home.content.intro}
      a.btn.btn-clear.btn-margin(href="/about", role="button") Learn more...
    // The story
    .container.the-story
      .row.center
        .col-xs-12.col-sm-4.col-md-4
          .row
            .col-md-12.story
              img.img-responsive.center-block(src="assets://images/learn.png", alt="T-shirt")
              h3 Learn the Story
              .story-content
                p
                  | When you donate to a family&#8217;s adoptive expenses you not only help meet their physical needs&#8230;
                p &#8230;you also get the privilege of being a part of a beautiful love story.
              a.btn.btn-blue(href="/families", role="button") Donate to an adoption
        .col-xs-12.col-sm-4.col-md-4
          .row
            .col-md-12.story
              img.img-responsive.center-block(src="assets://images/run.png", alt="T-shirt")
              h3 Engage the Story
              .story-content
                p
                  | Every good love story needs heroes. By starting a fundraiser campaign for an adoptive family you get the opportunity to be an ordinary, everyday hero that helps write a families&#8217; beautiful love story of adoption.
              a.btn.btn-yellow(data-toggle="modal", data-target="#fundraiserModal", role="button") Start a Fundraiser
        .col-xs-12.col-sm-4.col-md-4
          .row
            article.col-md-12.story
              img.img-responsive.center-block(src="assets://images/share.png", alt="T-shirt")
              h3 Share the Story
              .story-content
                p
                  | Every good love story needs to be shared. Help spread the word and allow your friends and family the opportunity to Adopt a Love Story.
              a.btn.btn-black(rel="facebook-share", role="button", data-name="The Wright Family - Adopt A Love Story") Share
    .col-md-12.newFamBanner
      .container
          h3.banner-caption
            em stay tuned
          h2(style="color:#fff") Our Next Family is Coming Soon!
    // Connect with us
    .container.center.connect
      .row
        .col-xs-12.col-sm-12.col-md-12
          h2 Connect with us:
          ul.social-media
            li
              a(href="{:settings.facebook-page}")
                i.fa.fa-facebook
            li
              a(href="https://twitter.com/{:settings.social-twitter}")
                i.fa.fa-twitter
            li
              a(href="http://instagram.com/{:settings.social-instagram}")
                i.fa.fa-instagram
            li
              a(href="{:settings.social-youtube}")
                i.fa.fa-youtube-play
    theme:embed(file="modals/fundraise")
// JS Files
script(src="assets://js/layerslider.kreaturamedia.jquery.js", type="text/javascript")
// Slider Script Settings
script(type="text/javascript").
  // Running the code when the document is ready
  $(document).ready(function(){
  // Calling LayerSlider on the target element + Options
    jQuery("#layerslider").layerSlider({
      responsive: false,
      responsiveUnder: 1280,
      layersContainer: 1280,
      skin: 'v5',
      hoverPrevNext: false,
      skinsPath: 'js/skins/',
      autostart: true,
      touchNav: true,
    });
  });
