theme:template(name="default", :load=":api(3.0).projects(246) as project", title="Welcome")
  //- TODO: Address dissappeared from the footer
  // make sure the campaign can be loaded
  require(:eval="project.id")
  not-found Sorry, the project you're looking for could not be found. 

  content
    // Begin Main Slider
    #layerslider(style="width: 100%; height: 500px;")
      // Slide 1
      .ls-slide
        // slide background Image
        img.ls-bg(src="assets://images/Slider1.png", alt="Slide background")
        h2.ls-l(style="top: 50%; left: 50%; text-align: center; color: #fff;")
          | ADOPT THE
          br
          | MACINTOSH'S STORY
        h4.ls-l(style="top: 65%; left: 50%; text-align: center; color: #fff;")
          em A Love Story About Music and Adoption
        p
          a.ls-l.btn.btn-lg.btn-transparent(href="/family", role="button", style="top: 80%; left: 42%; text-align: center; color: #fff;")
            | Learn the Story &nbsp;
            i.fa.fa-video-camera
    // About Text
    .jumbotron.container.center.border
      p
        | Adopt a Love Story is a non-profit dedicated to helping families overcome the financial barriers to adoption while creating a movement within communities that celebrates and joins in the beautiful love stories that are being written in every adoption.
      a.btn.btn-clear.btn-margin(href="/about", role="button") Learn more...
    // The story
    .container.the-story
      .row.center
        .col-xs-12.col-sm-4.col-md-4
          .row
            .col-md-12.story
              img.img-responsive.center-block(src="assets://images/learn.png", alt="T-shirt")
              h3 Learn the Story
              .story-content
                p
                  | When you donate to a family&#8217;s adoptive expenses you not only help meet their physical needs&#8230;
                p &#8230;you also get the privilege of being a part of a beautiful love story.
              a.btn.btn-blue(href="/family#/my/donate?project={project.id}", role="button") Donate to an adoption
        .col-xs-12.col-sm-4.col-md-4
          .row
            .col-md-12.story
              img.img-responsive.center-block(src="assets://images/run.png", alt="T-shirt")
              h3 Engage the Story
              .story-content
                p
                  | Every good love story needs heroes. By starting a fundraiser campaign for an adoptive family you get the opportunity to be an ordinary, everyday hero that helps write a families&#8217; beautiful love story of adoption.
              a.btn.btn-yellow(data-toggle="modal", data-target="#fundraiserModal", role="button") Start a Fundraiser
        .col-xs-12.col-sm-4.col-md-4
          .row
            article.col-md-12.story
              img.img-responsive.center-block(src="assets://images/share.png", alt="T-shirt")
              h3 Share the Story
              .story-content
                p
                  | Every good love story needs to be shared. Help spread the word and allow your friends and family the opportunity to Adopt a Love Story.
              a.btn.btn-black(rel="facebook-share", role="button") Share
    // T-Shirts
    .t-shirts
      .container
        .row.center.gap-vert
          h2 Show your love:
        .row.center
          .col-xs-12.col-sm-4.col-md-4.t-shirt
            img.img-responsive.center-block(src="assets://images/T-shirt.png", alt="T-shirt")
            h5 Adopt a Love Tshirt
            p On Grey
            p.cost $25
            a.btn.btn-white(role="button") Coming Soon
          .col-xs-12.col-sm-4.col-md-4.t-shirt
            img.img-responsive.center-block(src="assets://images/T-shirt.png", alt="T-shirt")
            h5 Adopt a Love Tshirt
            p On Grey
            p.cost $25
            a.btn.btn-white(role="button") Coming Soon
          .col-xs-12.col-sm-4.col-md-4.t-shirt
            img.img-responsive.center-block(src="assets://images/T-shirt.png", alt="T-shirt")
            h5 Adopt a Love Tshirt
            p On Grey
            p.cost $25
            a.btn.btn-white(role="button") Coming Soon
    // Connect with us
    .container.center.connect
      .row
        .col-xs-12.col-sm-12.col-md-12
          h2 Connect with us:
          ul.social-media
            li
              a(href="{:settings.facebook-page}")
                i.fa.fa-facebook
            li
              a(href="https://twitter.com/{:settings.social-twitter}")
                i.fa.fa-twitter
            li
              a(href="http://instagram.com/{:settings.social-instagram}")
                i.fa.fa-instagram
            li
              a(href="{:settings.social-youtube}")
                i.fa.fa-youtube-play
    theme:embed(file="modals/fundraise")
// JS Files
script(src="assets://js/layerslider.kreaturamedia.jquery.js", type="text/javascript")
// Slider Script Settings
script(type="text/javascript").
  // Running the code when the document is ready
  $(document).ready(function(){
  // Calling LayerSlider on the target element + Options
    jQuery("#layerslider").layerSlider({
      responsive: false,
      responsiveUnder: 1280,
      layersContainer: 1280,
      skin: 'v5',
      hoverPrevNext: false,
      skinsPath: 'js/skins/',
      autostart: true,
      touchNav: true,
    });
  });
