#fundraiserModal.special-modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="fundraiserModal", aria-hidden="true")
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &#215;
          span.sr-only Close
        h3.modal-title How To:<br>Create a Fundraiser
      .modal-body
        p First, thank you! Your help making this Love Story possible is an investment in the future.

        ul
          li
            h6(style="text-decoration:{:member ? 'line-through' : 'none'}") Step 1: Create An Account
            p Before you can begin a fundraiser you must first create an account. You can do that here: 
          li
            h6 Step 2: Share The Project
            p Next you’ll need to visit the family’s project page and share the project to your friends using Facebook and Twitter. When you share you can customize your message.

          li
            h6 Step 3: Track Your Results
            p Finally, once you’ve shared the project with your network, you can login to your account and see how much you’ve raised from your project.
        //@IF :member.id
        .center
          div(style="padding:20px 0")
            label Here's your unique link.
            input(type="text",value="{:e.url.link(/family)}?_m={:member.id}").form-control
          a.btn.btn-blue-translucent.btn-lg(role="button",rel="twitter-share",data-link="{:e.url.link(/family)}?_m={:member.id}")
            i.fa.fa-twitter.white &nbsp;
            | Tweet
          |  
          a.btn.btn-fb.btn-lg(role="button", rel="facebook-share",data-link="{:e.url.link(/family)}?_m={:member.id}")
            i.fa.fa-facebook-square.white &nbsp;
            | Share
        //@ELSE
        p: a.btn.btn-primary.bold(href="#/my/register") start YOUR fundraiser NOW!
        //@ENDIF