@import 'nib'

.tk-proxima-nova{font-family:"proxima-nova",sans-serif;}.tk-museo{font-family:"museo",serif;}.tk-brandon-grotesque{font-family:"brandon-grotesque",sans-serif;}
.full-width {
position: absolute;
left: 0;
right: 0;
height: 460px;
overflow: hidden;
}
.full-width img {
width: 100%;
}
.bump {
display: block;
height: 460px;
width: 100%;
}
#share {
  font-family: proxima-nova, sans-serif;
  h3 {
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    text-transform: initial;
    color: #767676;
    letter-spacing: initial;
    margin-top: 60px;
  }
  p {
    color: #9a9a9a;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 300;
  }
  form {
    background #f7fafa
    padding 45px
    margin-bottom 100px
    margin-top 80px
    small {
      margin-top 5px
      opacity 0.75
      display block
    }
    label {
      text-transform uppercase
      color #a6a6a6
      letter-spacing 0.075em
      font-weight bold
      font-size 12px
    }
    .form-group {
      margin-bottom 25px
    }
    #message {
      margin-top 20px
      margin-bottom 0
    }
    input.form-control {
      height 40px
    }
    .message {
      border-radius 4px
      background #FFF
      border 1px solid #cccccc
      padding 15px 20px
    }
    button {
      background #35d6f0
      border-radius 0
      border 0
      margin 40px 0 -30px
      text-transform uppercase
      font-size 16px
      font-weight bold
      padding 10px 25px
      letter-spacing 0.075em
      &:hover, &:focus, &:active {
        background darken(#35d6f0, 15%)
      }
    }
    .form-control[readonly] {
      background #FFF
      cursor initial
      outline 0
      appearance none
      &:hover, &:focus, &:active {
        outline 0
        appearance none
      }
    }
  }
}
#families
  background-image url('../images/banner-families.png')
  background-size cover
  background-position center
  margin-bottom 0
  .donate-section
    padding 14% 0% 10% 0%
  h1
    font-family "proxima-nova", sans-serif
    font-size 60px
    font-weight bold
  p
    font-size 30px
.subscribe-bar
  background #f7fafa
  color #a6a6a6
  padding 25px 0
  p
    font-size 16px
    font-family "proxima-nova", sans-serif
    font-weight 300
    letter-spacing 0.075em
  input
    border 1px solid #e1e1e1
    border-radius 3px
    padding 15px 25px
    font-size 12px
    appearance none
    outline 0
    width 100%
  button
    appearance none
    background #35d6f0
    border 0
    height 49px
    padding 13px
    border-radius 2px
    letter-spacing 0.09em
    font-size 16px
    font-weight 600
    width 100%
    &:hover, &:focus, &:active
      background darken(#35d6f0, 10%)
h4.sub
  text-transform uppercase
  font-weight bold
  color #d2d1d1
  font-size 16px
  font-family "proxima-nova", sans-serif
  margin 60px 0 0
ul.families
  font-family "proxima-nova", sans-serif
  padding 0
  margin-bottom 100px
  li.family
    padding 30px
    margin 0 -30px
    img
      max-width 100%
    &:nth-of-type(even)
      background #f7fafa
    .col-md-5
      .thumbnail
        border 0
        padding 0
        @media (min-width: 769px)
          margin 0
        @media (max-width: 768px)
          margin-bottom 20px
    .col-md-7
      .content
        h1, h1 a
          font-size 20px
          font-weight bold
          color #767676
          letter-spacing 0.075em
          &:first-of-type
            margin-top 0
        p
          font-size 14px
          color #9a9a9a
          letter-spacing 0.05em
          line-height 18px
          &:last-of-type
            margin-bottom 20px
        .progress
          border-radius 0
          box-shadow none
          height 8px
          .progress-bar
            background #35d6f0
            min-width 1%
        .info
          .data
            float left
            margin-right 30px
            &:last-of-type
              margin-right 0
            strong
              color #767676
              display block
              font-size 20px
              margin-bottom -5px
            small
              font-size 14px
              color #9a9a9a
          .location
            padding-left 30px
            position relative
            &:before
              content url('../images/location-icon.png')
              position absolute
              left 0
              top -2px  
            p
              font-size 14px
              font-weight bold
              color #9a9a9a
              margin-top 20px
              margin-bottom 0
              text-transform uppercase
div.footing
  border-top 1px solid #969696
  padding 45px 0 60px
  text-align center
  h2
    font-family proxima-nova, sans-serif
    font-size 32px
    margin-bottom 15px
  p
    font-family museo, sans-serif
    font-size 18px
    font-weight 300
    color #969696
    margin-bottom 36px
  a
    background #35d6f0
    border-radius 2px
    border 0
    color #FFF
    font-size 16px
    font-weight bold
    text-transform uppercase
    letter-spacing 0.15em
    padding 15px 40px
    &:hover, &:focus, &:active
      background darken(#35d6f0, 10%)
#startFundraiser
#projectUpdates
#moneyUsage
.special-modal
#familyModal
  .modal-header
    border-bottom: 0;
    margin-bottom: -20px;
    h3.modal-title
      font-size 28px
  ul
    padding: 0;
    margin: 0;
  > .modal-dialog.modal-sm
    width 550px
    > .modal-content
      font-size 16px
      color #969696
      padding 30px
      border-radius 3px
      li.update
        margin-top:20px;
      a.btn.btn-primary
        background-color #28a0b4
        border 0
        border-radius 3px
        padding 15px 30px
        text-transform uppercase
        &.bold
          font-family "brandon-grotesque"
          font-size 20px
          font-weight 500
          letter-spacing 1px
          margin-top 20px

#startFundraiser
	p
		color #a6a6a6
		font-weight 500
// STYLES TO MAKE THE MODAL TRIGGERS BEHAVE LIKE ACTIONABLE BUTTONS
a,img,h3
	&[data-toggle='modal']
		cursor: pointer
		transition-duration: 0.5s
		&:hover
			color: #35d6f0
img[data-toggle='modal']
	&:hover, &:focus, &:active
		border: 8px solid #35d6f0
h3[data-toggle='modal']:hover
	color: #35d6f0

.contact-white p
.contact p
  margin .8em 0

.module-messages-display
  .error
    font-weight bold
    font-size 16px
    color #c20000
    margin-bottom 20px

.login
  background-color rgba(0,0,0,0.6)
.donate-section
  padding 18% 12% 5% 12%
.donate-caption > p
  padding-top 0 !important
  font-size 34px
  font-weight 300
.donate-caption h1
  font-family "brandon-grotesque"
  text-transform uppercase
.navbar-transparent .nav li
  font-family "brandon-grotesque"
  text-transform uppercase
  font-weight 500
  a
    font-size 18px
  &.active a
    color #e8f300

.progress-bar
  box-shadow none

.engage-top .caption 
  margin-top 200px
  h2
    font-size 48px
    font-family "brandon-grotesque"
    text-transform uppercase
    font-weight 500
    margin-bottom 0
  h3
    font-size 30px
    font-weight 300

.section.video
  transition-duration 0.25s
  &:hover
    opacity 0.8
    cursor pointer
.newFamBanner
  background-image url('../images/coming-soon.jpg')
  background-position center center
  background-repeat no-repeat
  margin-bottom 60px
  padding 250px 15px
  text-align center
  @media (min-width: 1920px)
    background-position center -100px
  h2
    font-size 45px
  em
    font-size 30px
    text-transform lowercase
    font-family "museo", serif
    font-weight 300
.contact-top, .engage-top, .newFamBanner
  background-size cover
.about-top
  background-image url('../images/banner.jpg')
.engage-top
  background-image url('../images/banner-engage.jpg')
.contact-top
  background-image url('../images/contact-banner.jpg')

.fixedPosition
	position fixed
	top 0
	background white
	padding 15px
	width 255px   
	-webkit-transition	all 400ms ease-out
	-moz-transition	all 400ms ease-out
	transition	all 400ms ease-out

.fixedPositionNo
	position static
	width auto
	padding	0px
	-webkit-transition	all 400ms ease-out
	-moz-transition	all 400ms ease-out
	transition	all 400ms ease-out

.blackfix
	display	inline-block
	color #4b4b4b
	margin-top	8px
	margin-left	14px
	&:hover
		text-decoration	none
		color	#4b4b4b
h4.home-slide
  font-family: "museo",serif;
  font-weight: normal;

.fixedBtn
	display	block !important
	height	31px !important
	width	230px !important
	margin	360px auto !important
	position initial !important