@import 'nib'

.tk-proxima-nova{font-family:"proxima-nova",sans-serif;}.tk-museo{font-family:"museo",serif;}.tk-brandon-grotesque{font-family:"brandon-grotesque",sans-serif;}
.full-width {
position: absolute;
left: 0;
right: 0;
height: 460px;
overflow: hidden;
}
.full-width img {
width: 100%;
}
.bump {
display: block;
height: 460px;
width: 100%;
}

#startFundraiser
#projectUpdates
#moneyUsage
.special-modal
#familyModal
  .modal-header
    border-bottom: 0;
    margin-bottom: -20px;
    h3.modal-title
      font-size 28px
  ul
    padding: 0;
    margin: 0;
  > .modal-dialog.modal-sm
    width 550px
    > .modal-content
      font-size 16px
      color #969696
      padding 30px
      border-radius 3px
      li.update
        margin-top:20px;
      a.btn.btn-primary
        background-color #28a0b4
        border 0
        border-radius 3px
        padding 15px 30px
        text-transform uppercase
        &.bold
          font-family "brandon-grotesque"
          font-size 20px
          font-weight 500
          letter-spacing 1px
          margin-top 20px

#startFundraiser
	p
		color #a6a6a6
		font-weight 500
// STYLES TO MAKE THE MODAL TRIGGERS BEHAVE LIKE ACTIONABLE BUTTONS
a,img,h3
	&[data-toggle='modal']
		cursor: pointer
		transition-duration: 0.5s
		&:hover
			color: #35d6f0
img[data-toggle='modal']
	&:hover, &:focus, &:active
		border: 8px solid #35d6f0
h3[data-toggle='modal']:hover
	color: #35d6f0

.contact-white p
.contact p
  margin .8em 0

.module-messages-display
  .error
    font-weight bold
    font-size 16px
    color #c20000
    margin-bottom 20px

.login
  background-color rgba(0,0,0,0.6)
.donate-section
  padding 18% 12% 5% 12%
.donate-caption > p
  padding-top 0 !important
  font-size 34px
  font-weight 300
.donate-caption h1
  font-family "brandon-grotesque"
  text-transform uppercase
.navbar-transparent .nav li
  font-family "brandon-grotesque"
  text-transform uppercase
  font-weight 500
  a
    font-size 18px
  &.active a
    color #e8f300

.progress-bar
  box-shadow none

.engage-top .caption 
  margin-top 200px
  h2
    font-size 48px
    font-family "brandon-grotesque"
    text-transform uppercase
    font-weight 500
    margin-bottom 0
  h3
    font-size 30px
    font-weight 300

.section.video
  transition-duration 0.25s
  &:hover
    opacity 0.8
    cursor pointer
.newFamBanner
  background-image url('../images/newFamily.png')
  background-position center center
  background-repeat no-repeat
  margin-bottom 60px
  padding 250px 15px
  text-align center
  @media (min-width: 1920px)
    background-position center -100px
  h2
    font-size 45px
  em
    font-size 30px
    text-transform lowercase
    font-family "museo", serif
    font-weight 300
.contact-top, .engage-top, .newFamBanner
  background-size cover
.about-top
  background-image url('../images/banner.jpg')
.engage-top
  background-image url('../images/banner-engage.jpg')
.contact-top
  background-image url('../images/contact-banner.jpg')

.fixedPosition
	position fixed
	top 0
	background white
	padding 15px
	width 255px   
	-webkit-transition	all 400ms ease-out
	-moz-transition	all 400ms ease-out
	transition	all 400ms ease-out

.fixedPositionNo
	position static
	width auto
	padding	0px
	-webkit-transition	all 400ms ease-out
	-moz-transition	all 400ms ease-out
	transition	all 400ms ease-out

.blackfix
	display	inline-block
	color #4b4b4b
	margin-top	8px
	margin-left	14px
	&:hover
		text-decoration	none
		color	#4b4b4b
h4.home-slide
  font-family: "museo",serif;
  font-weight: normal;

.fixedBtn
	display	block !important
	height	31px !important
	width	230px !important
	margin	360px auto !important
	position initial !important