footer
  .container.center
    .row
      .col-xs-12.col-sm-4.col-md-4.address
        h4 ADOPT A LOVE STORY
        address
          p {:settings.organization-address-street}
          p {:settings.organization-address-street2}
          p {:settings.organization-address-city}, {:settings.organization-address-state} {:settings.organization-address-zipcode}  
          p {:settings.organization-phone}
          a(href="mailto:info@adoptalovestory.com", target="_top") info@adoptalovestory.com
        p.copyright &#169; 2014 Adopt a Love Story
      .col-xs-12.col-sm-4.col-md-4.footer-nav
        ul
          li: a(href="/about") About
          li: a(href="/family") Families
          li: a(href="/engage") Engage
          li: a(href="/contact") Contact
          li: a(href="/story") My story
      .col-xs-12.col-sm-4.col-md-4.footer-social
        h4 Connect: 
        br
        ul
          li: a(href="{:settings.facebook-page}"): i.fa.fa-facebook
          li: a(href="https://twitter.com/{:settings.social-twitter}"): i.fa.fa-twitter
          li: a(href="https://instagram.com/{:settings.social-instagram}"): i.fa.fa-instagram
          li: a(href="{:settings.social-youtube}"): i.fa.fa-youtube-play